.pulsante {
    margin: 50px;
    width: 100px;
    height: 100px;
    animation: pulsa 2s infinite;
}

@keyframes pulsa {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}