div{
    display: inline-block;
    border: 1px solid black;
    width:200px;
    height:200px;
   
}

.vermelho{
    
    background-color: red;
    
    }
    
    .azul{
      
      
      background-color: blue;
      
      
      }
    
      .verde{
        
        background-color: green;
        
        }

        .amarelo{
           
            background-color: yellow;
            
        }