div {
    display: flex;
    box-sizing: border-box;

}

.vermelho {
    height: 200px;
    border: 0.5px solid white;
    background-color: red;
    width: 200px;
    height: 200px;
}

.borda {
    border: 2px solid black;
}

.borda2 {
    border-left: none;
}

.borda3 {
    border-right: none;
}

.borda4 {
    border-top: 1px solid black;
}

.borda5 {
    border-bottom: none;
}

.azul {

    border: 0.5px solid white;
    background-color: blue;
    width: 200px;
    height: 200px;
}

.verde {
    border: 0.5px solid white;
    background-color: green;
    width: 200px;
    height: 200px;

}

.amarelo {
    border: 0.5px solid white;
    background-color: yellow;
    width: 200px;
    height: 200px;

}